<?php
// Google Play Store Settings
define('LANG', 'en_US'); // can be en_US, fr_FR, ...
define('GOOGLE_EMAIL','username@gmail.com');
define('GOOGLE_PASSWD','pass123');
define('ANDROID_DEVICEID','1111111111111111');